{
  "@api-host": "",
  "@aws-cognito-app-client-id": "",
  "@aws-cognito-pool-id": "",
  "@aws-cognito-region": "",
  "@db-user": "",
  "@db-pass": "",
  "@db-host": "",
  "@db-name": "",
  "@ea-aws-access-key-id": "",
  "@ea-aws-access-secret": ""
}
